body {
    padding: 20px;
    background: linear-gradient(to bottom, #3f0071, #ffffff);
    margin: 0;
    height: 100vh;
}
.audiobook {
    margin-bottom: 40px;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.audiobook img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.custom-button {
    width: 50px;
    height: 50px;
    background-size: cover;
    border: none;
    margin: 0 10px;
}
.next-button {
    background-image: url('https://cdn-icons-png.flaticon.com/512/0/304.png');
}
.back-button {
    background-image: url('https://cdn4.iconfinder.com/data/icons/media-controls-4/100/skip-back-512.png');
}
.play-button {
    background-image: url('https://w7.pngwing.com/pngs/261/757/png-transparent-computer-icons-google-play-music-button-play-angle-rectangle-triangle-thumbnail.png');
}
.pause-button {
    background-image: url('https://w7.pngwing.com/pngs/968/828/png-transparent-media-music-pause-play-song-stop-video-minimalisticons-icon.png');
}
